@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SmileySans';
  src: url('./fonts/SmileySans-Oblique.ttf.woff2') format('woff2');
}

* {
  font-family: 'SmileySans';
  font-display: 'block';
}
