<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #container {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <script>
      function createRandomSquares() {
        const container = document.getElementById('container')
        container.innerHTML = ''
        const numSquares = 20
        for (let i = 0; i < numSquares; i++) {
          const square = document.createElement('div')
          square.classList.add('black-square')

          const [width, height] = getRandomSize() // 随机获取方格的宽度 高度

          square.style.gridColumn = `span ${width}` // 设置方格所占列数
          square.style.gridRow = `span ${height}` // 设置方格所占行数

          container.appendChild(square) // 将方格添加到容器中
        }
      }

      function getRandomSize() {
        const types = ['1*1', '2*2', '3*3']
        const selected = Math.floor(Math.random() * types.length)
        return types[selected].split('*') // 返回数组 ['1', '1']
      }

      createRandomSquares()
    </script>
  </body>
</html>
